.menu {
  z-index: 11;
  width: fit-content;
  min-width: fit-content;
  padding: 0.6rem 1rem;
  pointer-events: none;
  background-color: var(--popup-background);
  border-radius: 1rem;
  opacity: 0;
  transform-origin: left top;
  border: 2px solid var(--border-color);
}

.fixed {
  position: fixed;
}

.inline {
  position: absolute;
}

.opened {
  pointer-events: all;
  opacity: 1;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.list > li {
  width: 100%;
}
