.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.25rem 0;
}

.title {
  margin-bottom: 0.4rem;
  font-size: 0.9rem;
}

.inputWrapper {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.input {
  padding: 0.45em 0.8em;
  font-size: 0.9em;
  border-radius: 8px;
  border: 2px solid var(--border-color);
  font-family: inherit;
  width: 130px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--background-secondary-color);
}

.randomButton {
  border-radius: 8px;
  border: 2px solid var(--border-color);
  padding: 0.45em 0.8em;
  font-size: 0.9em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: var(--background-color);
  color: var(--text-color);
}

.randomButton:hover {
  background-color: var(--background-secondary-color);
}

.hint {
  margin-top: 0.5rem;
  font-size: 0.85em;
}
